<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.CableMapper">

    <insert id="addCable" parameterType="Cable">
        insert into cablemanagementsystem.cable
        (cableID, cablename, systemID, subsystemID, status, `usage`, uploadID, downloadID, position, description, batchnumber, drawingID, length, lengthUnits, ownner, checkDate)
        values
            (#{cableID}, #{cablename}, #{systemID}, #{subsystemID}, #{status}, #{usage}, #{uploadID}, #{downloadID}, #{position}, #{description}, #{batchnumber}, #{drawingID}, #{length}, #{lengthUnits}, #{ownner}, #{checkDate});
    </insert>


    <delete id="deleteCableById" parameterType="int">
        delete from cablemanagementsystem.cable where cableID = #{cableID};
    </delete>

    <update id="updateCable" parameterType="Cable">
        update cablemanagementsystem.cable
        set   cablename=#{cablename},
        systemID=#{systemID},
        subsystemID=#{subsystemID},
        status=#{status},
        `usage`=#{usage},
        uploadID=#{uploadID},
        downloadID=#{downloadID},
        position=#{position},
        description=#{description},
        batchnumber=#{batchnumber},
        drawingID=#{drawingID},
        length=#{length},
        lengthUnits=#{lengthUnits},
        ownner=#{ownner},
        checkDate=#{checkDate}
        where cableID=#{cableID};
    </update>

    <select id="queryCableById" resultType="Cable">
        select * from cablemanagementsystem.cable
        where cableID=#{cableID}
    </select>

    <select id="qureyAllCables" resultType="Cable">
        select * from cablemanagementsystem.cable
    </select>

    <select id="queryCableByName"  resultType="Cable">
        select * from cablemanagementsystem.cable where cablename like concat('%',#{cablename},'%')
    </select>

    <!--    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="complexCableTestRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="cablename" property="cablename"/>
        <result column="status" property="status"/>
        <collection property="testInfo" ofType="com.cms.pojo.Test" javaType="java.util.List">
            <id property="cableID" column="cableID"/>
            <result property="testdate" column="testdate"/>
            <result property="operator1" column="operator1"/>
        </collection>
    </resultMap>
    <select id="getCableTestComplex" resultMap="complexCableTestRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.cablename ,
            c.status ,
            t.cableID  AS t_cableID,
            t.testdate ,
            t.operator1
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.test t ON c.cableID  = t.cableID
        WHERE
            c.cableID  = #{cableID}
    </select>

    <!--    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="CableMaintenanceRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="cablename" property="cablename"/>
        <result column="status" property="status"/>
        <collection property="maintenanceList" ofType="com.cms.pojo.Maintenance" javaType="java.util.List">
            <id property="faultdate" column="faultdate"/>
            <result property="faultDescription" column="faultDescription"/>
            <result property="repairdate" column="repairdate"/>
            <result property="repairDescription" column="repairDescription"/>
            <result property="status" column="status"/>
            <result property="cost" column="cost"/>
            <result property="operator1" column="operator1"/>
            <result property="operator2" column="operator2"/>
            <result property="operator3" column="operator3"/>
        </collection>
    </resultMap>
    <select id="getCableMaintenanceComplex" resultMap="CableMaintenanceRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.cablename ,
            c.status ,
            t.cableID  AS t_cableID,
            t.faultdate ,
            t.faultDescription ,
            t.repairdate ,
            t.repairDescription ,
            t.status ,
            t.cost ,
            t.operator1 ,
            t.operator2 ,
            t.operator3
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.maintenance t ON c.cableID  = t.cableID
        WHERE
            c.cableID  = #{cableID}
    </select>

    <!--    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="CableInstallRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="cablename" property="cablename"/>
        <result column="status" property="status"/>
        <collection property="installationList" ofType="com.cms.pojo.Installation" javaType="java.util.List">
            <id property="installationDate" column="installationDate"/>
            <result property="operator1" column="operator1"/>
            <result property="operator2" column="operator2"/>
            <result property="operator3" column="operator3"/>
        </collection>
    </resultMap>
    <select id="getCableInstallComplex" resultMap="CableInstallRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.cablename ,
            c.status ,
            t.cableID  AS t_cableID,
            t.installationDate ,
            t.operator1 ,
            t.operator2 ,
            t.operator3
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.installation t ON c.cableID  = t.cableID
        WHERE
            c.cableID  = #{cableID}
    </select>

    <!--根据drawingID查图纸信息    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="CableDrawingRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="drawingID" property="drawingID"/>
        <collection property="drawingsList" ofType="com.cms.pojo.Drawings" javaType="java.util.List">
            <id property="drawingID" column="drawingID"/>
            <result property="drawingVersion" column="drawingVersion"/>
            <result property="drawingdate" column="drawingdate"/>
            <result property="drawingname" column="drawingname"/>
            <result property="createby" column="createby"/>
            <result property="filepath" column="filepath"/>
            <result property="filetype" column="filetype"/>
        </collection>
    </resultMap>
    <select id="getCableDrawingsComplex" resultMap="CableDrawingRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.drawingID ,
            t.drawingID  AS t_drawingID,
            t.drawingVersion ,
            t.drawingdate ,
            t.drawingname ,
            t.createby ,
            t.filepath ,
            t.filetype
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.drawings t ON c.drawingID  = t.drawingID
        WHERE
            c.drawingID  = #{drawingID}
    </select>

    <!--根据端口ID查端口信息    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="CableIntfaceRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="uploadID" property="uploadID"/>
        <result column="downloadID" property="downloadID"/>
        <collection property="intfaceList" ofType="com.cms.pojo.Interface" javaType="java.util.List">
            <id property="interfaceID" column="interfaceID"/>
            <result property="interfaceTYpe" column="interfaceTYpe"/>
            <result property="status" column="status"/>
            <result property="deviceID" column="deviceID"/>
            <result property="position" column="position"/>
        </collection>
    </resultMap>
    <select id="getCableIntfaceComplex" resultMap="CableIntfaceRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.uploadID ,
            c.downloadID ,
            t.interfaceID  AS t_interfaceID,
            t.interfaceTYpe ,
            t.status ,
            t.deviceID ,
            t.position
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.interface t ON c.uploadID  = t.uploadID
        WHERE
            c.uploadID  = #{interfaceID}
    </select>

    <!--根据批号查生产信息    使用resultMap进行映射：左边一排colomn是数据库里面的名称，右边是java后端里面的驼峰式；-->
    <resultMap id="CableManufactureRes" type="com.cms.pojo.Cable" >
        <id column="cableID" property="cableID"/>
        <result column="batchnumber" property="batchnumber"/>
        <collection property="manufacturesList" ofType="com.cms.pojo.Manufacture" javaType="java.util.List">
            <id property="batchnumber" column="batchnumber"/>
            <result property="supplier" column="supplier"/>
            <result property="productmodel" column="productmodel"/>
            <result property="productdate" column="productdate"/>
            <result property="diameter" column="diameter"/>
            <result property="diameterUnits" column="diameterUnits"/>
            <result property="material" column="material"/>
            <result property="insulationMaterial" column="insulationMaterial"/>
            <result property="shieldingLayer" column="shieldingLayer"/>
            <result property="guaranteeperiod" column="guaranteeperiod"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
    <select id="getCableManufactureComplex" resultMap="CableManufactureRes" parameterType="java.lang.Integer">
        SELECT
            c.cableID ,
            c.batchnumber ,
            t.batchnumber  AS t_batchnumber,
            t.supplier ,
            t.productmodel ,
            t.productdate ,
            t.diameter ,
            t.diameterUnits ,
            t.material ,
            t.insulationMaterial,
            t.shieldingLayer,
            t.guaranteeperiod,
            t.price
        FROM
            cableManagementSystem.cable c
                LEFT JOIN
            cableManagementSystem.manufacture t ON c.batchnumber  = t.batchnumber
        WHERE
            c.batchnumber  = #{batchnumber}
    </select>

    <select id="queryCablebycolumn" resultType="Cable">
        select * from cableManagementSystem.cable WHERE ${queryColumn} LIKE CONCAT('%', #{queryParam}, '%')
    </select>


</mapper>